<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{dialectName}} :: {{label}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    {{#css}}
      <link rel="stylesheet" href="{{{.}}}">
    {{/css}}
  </head>
  <body class="schema-body" id="{{slug}}-body">
    <div class="container-fluid root-div-container" id="{{slug}}-root-div-container">

      <div class="col-md-2 aside" id="{{slug}}-nav-aside">
        <div class="main-nav">
          <h1>Index</h1>
          <hr>
          <p class="main-nav-item inactive-nav-item">
            <a href="index.html" title="Index">Index</a>
          </p>
        </div>
        <div class="dialects-nav">
          <h1>{{dialectsHeader}}</h1>
          <hr>
          {{#navData.dialects}}
            <p class="dialects-nav-item {{^active}}in{{/active}}active-nav-item">
              <a href="{{{pageName}}}.html" title="{{name}}">{{name}}</a>
            </p>
          {{/navData.dialects}}
        </div>
        <div class="schemas-nav">
          <h1>{{schemasHeader}}</h1>
          <hr>
          {{#navData.nodeMappings}}
            <p class="schemas-nav-item {{^active}}in{{/active}}active-nav-item">
              <a href="{{{pageName}}}.html" title="{{name}}">{{name}}</a>
            </p>
          {{/navData.nodeMappings}}
        </div>
      </div>

      <div class="col-md-10 content-block" id="{{slug}}-content-block">
        <h1 class="schema-name-header">
          <span class="dialect-name">{{dialectName}}</span> ::
          <span class="schema-name">{{label}}</span>
        </h1>

        <p class="schema-term-id root-list-item">
          <span>Term ID: </span><span>{{targetClassId}}</span>
        </p>

        {{#description}}
          <p class="schema-description root-list-item">
            <span>Description: </span><span>{{description}}</span>
          </p>
        {{/description}}

        <p class="linked-schemas-title{{^linkedSchemas}} no-linked-schemas{{/linkedSchemas}}">
          {{^linkedSchemas}}No {{/linkedSchemas}}Linked schemas
        </p>
        {{#linkedSchemas.length}}
          <ul class="linked-schemas-list">
            {{#linkedSchemas}}
              <li class="linked-schemas-list-item">
                {{#rangePageName}}
                  <a href="{{{rangePageName}}}.html" title="{{rangeName}}">{{rangeName}}</a>
                {{/rangePageName}}
                {{^rangePageName}}
                  {{rangeName}}
                {{/rangePageName}}
              </li>
            {{/linkedSchemas}}
          </ul>
        {{/linkedSchemas.length}}

        {{^scalarProperties}}<p>No Scalar Properties</p>{{/scalarProperties}}
        {{#scalarProperties.length}}
          <table class="table table-hover table-bordered sprops-table"
                 id="{{slug}}-sprops-table">
            <caption>Scalar Properties</caption>
            <thead>
              <tr>
                <td class="active col-md-2">Name</td>
                <td class="active col-md-8">Details</td>
              </tr>
            </thead>
            <tbody>
              {{#scalarProperties}}
                <tr id="{{name}}-scalar-tr">
                  <td class="sprop-name col-md-2">{{name}}</td>
                  <td class="sprop-data col-md-8">
                    <ul>
                      <li class="sprop-term-id">Term ID: {{id}}</li>
                      <li class="sprop-range">Range: {{range}}</li>
                      {{#propDesc}}
                        <li class="sprop-description">Description: {{propDesc}}</li>
                      {{/propDesc}}
                      {{#constraints}}
                        <li class="sprop-constraint">{{name}}: {{value}}</li>
                      {{/constraints}}
                    </ul>
                  </td>
                </tr>
              {{/scalarProperties}}
            </tbody>
          </table>
        {{/scalarProperties.length}}

        {{^linkProperties}}<p>No Link Properties</p>{{/linkProperties}}
        {{#linkProperties.length}}
        <table class="table table-hover table-bordered lprops-table"
               id="{{slug}}-lprops-table">
          <caption>Link Properties</caption>
          <thead>
            <tr>
              <td class="active col-md-2">Name</td>
              <td class="active col-md-8">Details</td>
            </tr>
          </thead>
          <tbody>
            {{#linkProperties}}
              <tr id="{{name}}-link-tr">
                <td class="lprop-name col-md-2">{{name}}</td>
                <td class="lprop-data col-md-8">
                  <ul>
                    <li class="lprop-term-id">Term ID: {{id}}</li>
                    <li class="lprop-range">
                      <span class="lprop-range-list-title">Range:</span>
                      <ul class="lprop-range-list">
                        {{#range}}
                          <li class="lprop-range-list-item">
                            {{#rangePageName}}
                              <a href="{{{rangePageName}}}.html" title="{{rangeName}}">{{rangeName}}</a>
                            {{/rangePageName}}
                            {{^rangePageName}}
                              {{rangeName}}
                            {{/rangePageName}}
                          </li>
                        {{/range}}
                      </ul>
                    </li>
                    {{#propDesc}}
                      <li class="lprop-description">Description: {{propDesc}}</li>
                    {{/propDesc}}
                    {{#constraints}}
                      <li class="lprop-constraint">{{name}}: {{value}}</li>
                    {{/constraints}}
                  </ul>
                </td>
              </tr>
            {{/linkProperties}}
          </tbody>
        </table>
        {{/linkProperties.length}}
      </div>

    </div>
  </body>
</html>
