<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{name}} vocabulary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
</head>
  <body>
    <div class="container-fluid">
      <h1><a href="index.html" title="">Vocabularies</a> > {{name}}</h1>
      <hr>
      {{#displayName}}
        <h2>Name</h2>
        <p>{{displayName}}</p>
      {{/displayName}}
      {{#id}}
        <h2>ID</h2>
        <p>{{id}}</p>
      {{/id}}
      {{#description}}
        <h2>Description</h2>
        <p>{{description}}</p>
      {{/description}}
      <h2>Extends</h2>
      {{^extends}} Nothing{{/extends}}
      <ul>
        {{#extends}}
          <li>{{.}}</li>
        {{/extends}}
      </ul>
      <h2>Properties</h2>
      <div class='table-responsive'>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Type</th>
              <th>Extends</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#properties}}
              <tr>
                <td>{{propName}}</td>
                <td>{{propId}}</td>
                <td><a href="{{range}}" title="{{range}}">{{rangeName}}</a></td>
                <td>{{#propExtends}}<a href="{{propExtends}}" title="{{propExtends}}">{{propExtendsName}}</a>{{/propExtends}}</td>
                <td>{{#desc}}{{desc}}{{/desc}}</td>
              </tr>
            {{/properties}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
