<!DOCTYPE html>
<html lang="en">
<head>
  <title>RAML Parsers Overview</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/custom.css">
</head>
  <body>
    <div class="container">
      <h1>Vocabularies</h1>
      {{#vocs}}
        <hr>
        <div class="voc-info">
          {{#id}}<p><b>Id:</b> {{id}}</p>{{/id}}
          {{#base}}<p><b>Base:</b> {{base}}</p>{{/base}}
          {{#usage}}<p><b>Usage:</b> {{usage}}</p>{{/usage}}
          {{#properties}}<p><b>Properties:</b> <samp>{{properties}}</samp></p>{{/properties}}
          <p><b>Classes:</b>{{^classes}} None{{/classes}}</p>
          <ul>
            {{#classes}}
              <li><a href="{{page}}" title="{{id}}">{{name}}</a></li>
            {{/classes}}
          </ul>
        </div>
      {{/vocs}}
    </div>
  </body>
</html>
