<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{dialectName}} :: {{name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    {{#css}}
      <link rel="stylesheet" href="{{.}}">
    {{/css}}
  </head>
  <body class="schema-body" id="{{slug}}-body">
    <div class="container-fluid root-div-container" id="{{slug}}-root-div-container">

      <div class="col-md-2 aside" id="{{slug}}-nav-aside">
        <div class="dialects-nav">
          <h1>Dialects</h1>
          <hr>
          {{#navData.dialects}}
            <p class="dialects-nav-item {{^active}}in{{/active}}active-nav-item">
              <a href="{{htmlName}}" title="{{name}}">{{name}}</a>
            </p>
          {{/navData.dialects}}
        </div>
        <div class="schemas-nav">
          <h1>Schemas</h1>
          <hr>
          {{#navData.nodeMappings}}
            <p class="schemas-nav-item {{^active}}in{{/active}}active-nav-item">
              <a href="{{htmlName}}" title="{{name}}">{{name}}</a>
            </p>
          {{/navData.nodeMappings}}
        </div>
      </div>

      <div class="col-md-10 content-block" id="{{slug}}-content-block">
        <h1 class="schema-name-header">
          <span class="dialect-name">{{dialectName}}</span> ::
          <span class="schema-name">{{name}}</span>
        </h1>

        <p class="schema-term-id root-list-item">
          <span>Term ID: </span><span>{{id}}</span>
        </p>

        {{#description}}
          <p class="schema-description root-list-item">
            <span>Description: </span><span>{{description}}</span>
          </p>
        {{/description}}

        <p class="linked-schemas-title{{^linkedSchemas}} no-linked-schemas{{/linkedSchemas}}">
          {{^linkedSchemas}}No {{/linkedSchemas}}Linked schemas
        </p>
        <ul class="linked-schemas-list">
          {{#linkedSchemas}}
            <li class="linked-schemas-list-item">
              {{#rangeHtmlName}}
                <a href="{{rangeHtmlName}}" title="{{rangeName}}">{{rangeName}}</a>
              {{/rangeHtmlName}}
              {{^rangeHtmlName}}
                {{rangeName}}
              {{/rangeHtmlName}}
            </li>
          {{/linkedSchemas}}
        </ul>

        <table class="table table-hover table-bordered sprops-table{{^scalarProperties}} no-props-table{{/scalarProperties}}"
               id="{{slug}}-sprops-table">
          <caption>{{^scalarProperties}}No {{/scalarProperties}}Scalar Properties</caption>
          <tbody>
            {{#scalarProperties}}
              <tr id="{{name}}-scalar-tr">
                <td class="sprop-name col-md-2">{{name}}</td>
                <td class="sprop-data col-md-8">
                  <ul>
                    <li class="sprop-term-id">Term ID: {{id}}</li>
                    <li class="sprop-range">Range: {{range}}</li>
                    {{#propDesc}}
                      <li class="sprop-description">Description: {{propDesc}}</li>
                    {{/propDesc}}
                    {{#constraints}}
                      <li class="sprop-constraint">{{name}}: {{value}}</li>
                    {{/constraints}}
                  </ul>
                </td>
              </tr>
            {{/scalarProperties}}
          </tbody>
        </table>

        <table class="table table-hover table-bordered lprops-table{{^linkProperties}} no-props-table{{/linkProperties}}"
               id="{{slug}}-lprops-table">
          <caption>{{^linkProperties}}No {{/linkProperties}}Link Properties</caption>
          <tbody>
            {{#linkProperties}}
              <tr id="{{name}}-link-tr">
                <td class="lprop-name col-md-2">{{name}}</td>
                <td class="lprop-data col-md-8">
                  <ul>
                    <li class="lprop-term-id">Term ID: {{id}}</li>
                    <li class="lprop-range">
                      <span class="lprop-range-list-title">Range:</span>
                      <ul class="lprop-range-list">
                        {{#range}}
                          <li class="lprop-range-list-item">
                            {{#rangeHtmlName}}
                              <a href="{{rangeHtmlName}}" title="{{rangeName}}">{{rangeName}}</a>
                            {{/rangeHtmlName}}
                            {{^rangeHtmlName}}
                              {{rangeName}}
                            {{/rangeHtmlName}}
                          </li>
                        {{/range}}
                      </ul>
                    </li>
                    {{#propDesc}}
                      <li class="lprop-description">Description: {{propDesc}}</li>
                    {{/propDesc}}
                    {{#constraints}}
                      <li class="lprop-constraint">{{name}}: {{value}}</li>
                    {{/constraints}}
                  </ul>
                </td>
              </tr>
            {{/linkProperties}}
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>
