<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{dialectName}} :: {{name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="col-md-2 aside">
        <div>
          <h1>Dialects</h1>
          <hr>
          {{#navData.dialects}}
            <p><a href="{{htmlName}}" title="{{name}}">{{name}}</a></p>
          {{/navData.dialects}}
        </div>
        <div>
          <h1>Schemas</h1>
          <hr>
          {{#navData.nodeMappings}}
            <p><a href="{{htmlName}}" title="{{name}}">{{name}}</a></p>
          {{/navData.nodeMappings}}
        </div>
      </div>
      <div class="col-md-10">
        <h1>{{dialectName}} :: {{name}}</h1>
        <p>Term ID: {{id}}</p>
        {{#description}}
          <p>Description: {{description}}</p>
        {{/description}}
        {{#linkedSchemasStr}}
          <p>Linked schemas: {{linkedSchemasStr}}</p>
        {{/linkedSchemasStr}}

        <table class="table table-hover table-bordered">
          <caption>{{^scalarProperties}}No {{/scalarProperties}}Scalar Properties</caption>
          <tbody>
            {{#scalarProperties}}
              <tr>
                <td>{{name}}</td>
                <td>
                  <ul>
                    <li>Term ID: {{id}}</li>
                    <li>Range: {{range}}</li>
                    {{#propDesc}}
                      <li>Description: {{propDesc}}</li>
                    {{/propDesc}}
                    {{#constraints}}
                      <li>{{name}}: {{value}}</li>
                    {{/constraints}}
                  </ul>
                </td>
              </tr>
            {{/scalarProperties}}
          </tbody>
        </table>

        <table class="table table-hover table-bordered">
          <caption>{{^linkProperties}}No {{/linkProperties}}Link Properties</caption>
          <tbody>
            {{#linkProperties}}
              <tr>
                <td>{{name}}</td>
                <td>
                  <ul>
                    <li>Term ID: {{id}}</li>
                    <li>
                      Range:
                      <ul>
                        {{#range}}
                          <li><a href="{{rangeHtmlName}}" title="{{rangeName}}">{{rangeName}}</a></li>
                        {{/range}}
                      </ul>
                    </li>
                    {{#propDesc}}
                      <li>Description: {{propDesc}}</li>
                    {{/propDesc}}
                    {{#constraints}}
                      <li>{{name}}: {{value}}</li>
                    {{/constraints}}
                  </ul>
                </td>
              </tr>
            {{/linkProperties}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
